<div *ngIf="descripcion && descripcion.length > 0" class="carroussel-container w-100 d-flex justify-content-center">
  <div class="vh-50">
    <button class="btn izquierda p-0 h-100 border-0" (click)="anterior()"><i class="bi bi-arrow-left-circle-fill text-secondary"></i></button>
  </div>
  <div class="container-img d-flex flex-wrap align-items-center mx-2 p-4 bg-secondary-dark rounded rounded-5">
    <div class="col-12 col-lg-6 d-flex flex-column">
      <div class="h-95 d-flex justify-content-center">
        <img [src]="descripcion[indiceActual][0]" class="m-w-100 rounded rounded-4">
      </div>
      <div class="h-5 d-flex justify-content-evenly align-items-center my-2">
        <div *ngFor="let im of descripcion; let i = index">
          <div class="dot bg-background-1 mx-1" *ngIf="i !== indiceActual"></div>
          <div class="dot active bg-secondary-darken mx-1" *ngIf="i === indiceActual"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column">
      <div class="fs-2 fw-bold text-center">{{descripcion[indiceActual][1]}}</div>
      <div class="fs-5 text-center">{{descripcion[indiceActual][2]}}</div>
    </div>
  </div>
  
  <div class="vh-50">
    <button class="btn derecha p-0 h-100 border-0" (click)="siguiente()"><i class="bi bi-arrow-right-circle-fill text-secondary"></i></button>
  </div>
</div>