.fondo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

.izquierda, .derecha {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* Corrige el centrado vertical */
    font-size: calc(1rem + 2vw); /* Tamaño dinámico según el ancho de la página */
    cursor: pointer; /* Cambia el cursor a pointer */
    z-index: 10;
}

.izquierda {
    left: 10%;
}

.derecha {
    right: 10%; 
}

.izquierda:hover, .derecha:hover {
    transform: translateY(-50%) scale(1.05);
    transition: transform 0.3s ease; /* Suaviza la animación */
}

.container-img{
    width: 80%;
    img{
        object-fit: contain;
    }
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
/* Punto activo iluminado */
.dot.active {
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}