<div class="d-flex flex-column justify-content-center align-items-center bg-white w-100 h-100">
  <div>
    <div class="d-flex flex-lg-row flex-column my-5">
      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <img [src]="fotoMenu" class="vh-30 w-auto rounded border border-3 border-primary">
      </div>
      <div class="col-12 col-lg-8 py-3">
        <h1>Soy Guillermina, fotógrafa de bebes y mamás.</h1>
        <p class="fs-5">Ser mamá de tres es el regalo que la vida me otorgó. Y creo fervientemente que las fotografias son momentos congelados en imagenes que perduran para toda la vida y traspasa generaciones. El valor de una imagen cobra sentido en el tiempo. Hoy a mis 50, veo fotos de mis hijos cuando eran bebes y me permite recrear momentos, recordar canciones, revivir esa etapa tan dulce y especial de sus primeros años de sus vidas.</p>
      </div>
    </div>
    <div class="row gy-4">
      <div class="d-flex flex-column col-12 col-md-6 col-lg-3">
        <h2 class="fw-bold">
          01.
        </h2>
        <p class="fs-5">
          Nací en Avellaneda, Buenos Aires.
          Vivi mi infancia en el barrio de Villa del Parque.
          Estudié danza clásica hasta los 18 años.
        </p>
      </div>
      <div class="d-flex flex-column col-12 col-md-6 col-lg-3">
        <h2 class="fw-bold">
          02.
        </h2>
        <p class="fs-5">
          Cursé la carrera de diseño gráfico en la Facultad de Arquitectura y Urbanismo, en la UBA. donde me recibí. Allí tuve mi primer acercamiento a la fotográfia.
        </p>
      </div>
      <div class="d-flex flex-column col-12 col-md-6 col-lg-3">
        <h2 class="fw-bold">
          03.
        </h2>
        <p class="fs-5">
          Me casé y me mudé a Caseros, Gran Bs As.
          Dos embarazos 3 hijos.
          Mellizos el primero, y un prematuro el segundo.
        </p>
      </div>
      <div class="d-flex flex-column col-12 col-md-6 col-lg-3">
        <h2 class="fw-bold">
          04.
        </h2>
        <p class="fs-5">
          Durante la pandemia decidí ampliar mis conocimientos de fotografía donde me especialicé en fotografía newborn. Donde me enamoré de este arte.
        </p>
      </div>
    </div>
  </div>
</div>