.angular/cache/18.2.12/regalo-mama/.tsbuildinfo
.angular/cache/18.2.12/regalo-mama/vite/deps/@ng-bootstrap_ng-bootstrap.js
.angular/cache/18.2.12/regalo-mama/vite/deps/_metadata.json
.angular/cache/18.2.12/regalo-mama/vite/deps_ssr/_metadata.json
