<div class="d-flex flex-column justify-content-center align-items-center bg-white w-100 h-100">
  <div class="container-img w-100 vh-50" [ngStyle]="{'background-image': 'url(' + listaDeFotos[0] + ')'}">
      <div class="capa-oscura w-100 h-100 d-flex align-items-center">
          <h2 class="fs-1 titulo text-white text-center">Sesión Primer Año</h2>
      </div>
  </div>
  <h1 class="text-center p-5">
      <span class="fs-1 fw-bold text-black">Su Primer Cumpleaños </span> <br>
      <span class="fs-3 text-black">El primer año de tu bebé está lleno de momentos únicos e irrepetibles.</span>
  </h1>
  <p class="px-5">
    Capturar estos momentos con una sesión fotográfica te permitirá revivir estas etapas especiales y atesorarlas para siempre.
    Las fotos del primer cumpleaños serán un tesoro familiar, algo que podrán mirar juntos y compartir con generaciones futuras. Es una oportunidad para crear recuerdos que durarán toda la vida.
    El primer año está lleno de cambios rápidos y significativos. Una sesión fotográfica puede capturar la esencia de tu bebé en esta etapa maravillosa y efímera.
    
    En mi estudio ofrezco un ambiente cálido y seguro para los pequeños. Entendiendo lo importante que es para ti y tu bebé sentirse cómodos y felices durante la sesión.
    Tengo para ofrecerte paquetes personalizados que se adaptan a tus necesidades y preferencias. Ya sea una sesión temática (adaptada) o algo más clásico, trabajo contigo para crear la sesión perfecta. <br>
    
    Se realizan entre los 10 y 11 meses de vida. 
    En esta etapa tu Hijo/a ya se sienta solito/a y participa activamente de la sesión. Es más independiente, curioso y le gusta explorar todo a su alrededor. Compartiremos con él un momento super divertido, con risas y morisquetas. <br>
      <br>
      <span class="fs-5 text-black">¿QUÉ INCLUYE?</span><br>
      • Sesión fotográfica exclusiva en mi estudio ubicado en Caballito, CABA<br>
      • Duración aproximada 2hs<br>
      • Estudio climatizado continuamente.<br>
      • Equipos de calidad profesional.<br>
      • Vestuarios exclusivos y confeccionados especialmente para la edad<br>
      • Escenografia con fondos lisos, arco de globos y decoración depende del paquete que elijas<br>
      • Torta pequeña decorada estilo Nude con topper One/Uno **exclusivo Pack Premium Cake** <br>
      Para ver bien los diferentes paquetes y valores deslizá hacia abajo y allí los vas a ver.​<br>
      ​<br>
      <span class="fs-5 text-black">¿CUÁNDO RESERVAR?</span><br>
      Si querés agendar una sesión es importante que revises mi estilo de fotos para asegurarte que sea lo que buscás. Lo ideal es hacerlo 45 días antes de su cumpleaños, dado que la demora de entrega es de 10 días hábiles, para que lo tengas en cuenta, en caso de que necesites el material para el día del festejo de tu hijo/a. para llegar a tiempo con la entrega del material para el día del evento.Calculá que la demora en edición es de 10 días hábiles.<br>
      Las sesiones se realizan de lunes a viernes, solo dos turnos por dia: 10hs y/o 15hs.<br>
      Los dias sábados unico turno: 10hs<br>
      ​<br>
      <span class="fs-5 text-black">ENTREGA Y VALOR</span><br>
      Te entrego las fotos editadas profesionalmente, en formato digital de máxima calidad, enviadas mediante un link de descarga. Las fotografías son seleccionadas por la fotógrafa según mi experiencia y criterio estético. (una carpeta en alta resolución, sin marca de agua y otra carpeta en la resolución apta para ser compartida en redes con marca de agua de la fotógrafa) Bajo ningún concepto se entrega material sin editar. <br>
      *Los siguientes valores indicados son válidos únicamente durante el mes en curso. Para garantizar la vigencia de los precios, te recomendamos solicitar una cotización actualizada al momento de concretar tu reserva.
      <br>
      Formas de pago: 50% al contratar el presupuesto por transferencia bancaria (no reembolsable) + 50% en efectivo el día que hacemos las fotos. <br>
      ​<br>
      <span class="fs-5 text-black">LUEGO DE LA SESIÓN</span><br>
      La entrega del material final editado es de 10 días hábiles. Las fotos digitales se envían por link de descarga.<br>
      Si te interesa imprimir el material consulta por los valores del laboratorio, y calcula que esto puede demorar 10 días extras.<br>
  </p>

  <div class="w-100 plata my-5">
      <div class="d-flex flex-wrap justify-content-center w-100 py-4">
          <div class="col-10 col-lg-4 d-flex align-items-start justify-content-center text-center mb-2 mb-lg-0">
              <h1>Pack Plata</h1>
          </div>
          <div class="col-10 col-lg-4 d-flex flex-column justify-content-between text-center text-lg-start mb-2 mb-lg-0 px-3">
              <div>
                  <h2>{{precioPlata}}</h2>
              </div>
              <div>
                  <p class="text-start fs-5">10 fotografías digitales <br>
                  Duración aproximada 40 minutos <br>
                  1 fondo liso + accesorios básicos <br>
                  1 (uno) vestuario básico <br>
                  No incluye torta <br>
                  NO incluye fotos familiares</p>
              </div>
          </div>
          <div class="img-container h-100 d-flex align-items-center d-none d-lg-flex col-lg-4">            
              <img [src]="listaDeFotos[1]" class="vh-50 w-auto rounded border border-3 border-primary">
          </div>
      </div>
      <div class="d-flex justify-content-center w-100 py-3">
        <button class="btn btn-primary-darken" (click)="openModal(precioPlata, linkPlata, dateMin, dateMax)">
            Hacer Reserva
        </button>
    </div>
      
  </div>

  <div class="w-100 oro my-5">
      <div class="d-flex flex-wrap justify-content-center w-100 py-4">
          <div class="img-container h-100 d-flex align-items-center justify-content-end d-none d-lg-flex col-lg-4">            
              <img [src]="listaDeFotos[2]" class="vh-50 w-auto rounded border border-3 border-primary">
          </div>
          <div class="col-10 col-lg-4 d-flex align-items-start justify-content-center text-center mb-2 mb-lg-0">
              <h1>Pack Oro</h1>
          </div>
          <div class="col-10 col-lg-4 d-flex flex-column justify-content-between text-center text-lg-start mb-2 mb-lg-0 px-3">
              <div>
                  <h2>{{precioOro}}</h2>
              </div>
              <div>
                  <p class="text-start fs-5">10 fotografías digitales <br>
                  Duración aprox 60 minutos <br>
                  2 Vestuarios<br>
                  No incluye torta <br>
                  2 (dos) fondos *uno liso y otro con arco de globos <br>
                  Incluye fotos familiares dentro de las 10 imágenes</p>
              </div>
          </div>
      </div>
      <div class="d-flex justify-content-center w-100 py-3">
        <button class="btn btn-primary-darken" (click)="openModal(precioOro, linkOro, dateMin, dateMax)">
            Hacer Reserva
        </button>
    </div>
      
  </div>
  <div class="w-100 platino my-5">
      <div class="d-flex flex-wrap justify-content-center w-100 py-4">
          <div class="col-10 col-lg-4 d-flex align-items-start justify-content-center text-center mb-2 mb-lg-0">
              <h1>Pack Premium Cake</h1>
          </div>
          <div class="col-10 col-lg-4 d-flex flex-column justify-content-between text-center text-lg-start mb-2 mb-lg-0 px-3">
              <div>
                  <h2>{{precioPlatino}}</h2>
              </div>
              <div>
                  <p class="text-start fs-5">15 fotografías digitales <br>
                    Bonus: 5 fotografías digitales editadas en blanco y negro elegidas dentro de las 15 finales. <br>
                  Duración aprox 90 minutos <br>
                  2 vestuarios para el bebé <br>
                  1 torta pequeña decorada estilo Nude con topper One/Uno <br>
                  2 (dos) fondos *uno liso y otro con arco de globos<br>
                  Incluye fotos familiares dentro de las 15 imágenes con 1 cambio de vestuario a cargo del cliente.</p>
              </div>
          </div>
          <div class="img-container h-100 d-flex align-items-center d-none d-lg-flex col-lg-4">            
              <img [src]="listaDeFotos[3]" class="vh-50 w-auto rounded border border-3 border-primary">
          </div>
      </div>
      <div class="d-flex justify-content-center w-100 py-3">
        <button class="btn btn-primary-darken" (click)="openModal(precioPlatino, linkPlatino, dateMin, dateMax)">
            Hacer Reserva
        </button>
    </div>
      
  </div>
  <h1 class="px-lg-5 text-center mx-5">Una sesión de primer año te brinda la oportunidad de capturar la pureza de su sonrisa, la ternura de sus gestos y la personalidad única que ya comienza a emerger.</h1>
  <p class="fs-5 text-center px-3 px-lg-5">Las fotos del primer cumpleaños serán un tesoro familiar, algo que podrán mirar juntos y compartir con generaciones futuras. Es una oportunidad para crear recuerdos que durarán toda la vida. <br>
    Estos recuerdos visuales se convierten en un legado, en un testimonio de amor que podrás compartir con tu hijo cuando crezca, y que toda la familia podrá disfrutar durante años.</p>
  <app-carroussel [imagenes]="listaDeFotos" class="w-100 my-5"></app-carroussel>
</div>