<div *ngIf="imagenes && imagenes.length > 0" class="carroussel-container w-100 d-flex justify-content-center"
  (swipeleft)="siguiente()" 
  (swiperight)="anterior()">
  <div class="vh-50">
    <button class="btn izquierda p-0" (click)="anterior()"><i class="bi bi-arrow-left-circle-fill text-primary"></i></button>
  </div>
  <div class="container-img vh-50">
    <div class="h-95 d-flex justify-content-center">
      <img [src]="imagenes[indiceActual]" class="h-100 border border-primary border-3 rounded rounder-5">
    </div>
    <div class="h-5 d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-evenly w-70">
        <div *ngFor="let im of imagenes; let i = index">
          <div class="dot bg-background-1 mx-1" *ngIf="i !== indiceActual"></div>
          <div class="dot active bg-primary mx-1" *ngIf="i === indiceActual"></div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="vh-50">
    <button class="btn derecha p-0" (click)="siguiente()"><i class="bi bi-arrow-right-circle-fill text-primary"></i></button>
  </div>
</div>