html, body, main{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-img {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.capa-oscura {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.titulo {
    width: 100%;
}