<div class="modal-header bg-background-1">
  <h4 class="modal-title">Detalles de la Reserva</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body d-flex flex-column py-5 text-black">
  <p class="text-decoration-underline">Precio: <span class="fw-bold">{{ price }}</span></p>
  <p>Para hacer la reserva, es necesario acordar un día y un horario con la fotógrafa. Para ello, puede usted agendar un día con el calendario u organizar directamente mediante un chat con la fotógrafa.</p>
  <p>La reserva es un 50% del valor total.</p>  
  <a class="text-black text-center w-100 bg-success rounded-2" href="http://wa.me/5491168838722">
    <p class="my-2">Contactame: <span class="bi bi-whatsapp"></span></p>
  </a>
  <a [href]="link" class="btn btn-primary my-2">Hacer Reserva</a>
</div>
<div class="modal-footer bg-background-1">
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cerrar</button>
</div>
