html, body {
    height: 100%;
    margin: 0;         /* Evita márgenes externos */
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

$primary: #83d38a;
$secondary: #0d5304;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
);

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";