@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    height: 100%;
    margin: 0;         /* Evita márgenes externos */
    padding: 0;
    overflow-x: hidden;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif; /* Lista de fuentes */
  }
h1 {
    font-family: 'Roboto'; /* Fuente diferente */
}
h2 {
    font-family: 'Bellota'; /* Lista de fuentes */
  }
h3 {
    font-family: 'Times New Roman', Times, serif; /* Fuente diferente */
}
h4 {
    font-family: 'Roboto';
}
p {
    font-family: 'Bellota', Helvetica, sans-serif; /* Lista de fuentes */
}
a {
    font-family: 'Bellota';
}


//Colores-----------------------------------------------------------------------------------------------------------------

$primary: #966650;
$secondary: #C89D7C ;
$success:#7aad4a;
$danger:#a85d5d;
$plata:#c0b9b9;
$oro:#fce87a;
$platino:#b7e8f3;

$bg-color-1: #FFE1C6 ;
$bg-color-2: #C89D7C ;
$bg-color-3: #5D4034 ;

//-------------------------------------------------------------------------------------------------------------------------

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":  $success,
  "danger":  $danger
);


$primary-darken: darken($primary, 10%);
$primary-dark: darken($primary, 30%);
$secondary-darken: darken($secondary, 10%);
$secondary-dark: darken($secondary, 15%);

$text-color-1:#d7f095;

// Añade tu color personalizado al mapa de colores de Bootstrap
$custom-colors: (
  "primary-darken": $primary-darken,
  "secondary-darken": $secondary-darken,
  "primary-dark": $primary-dark,
  "secondary-dark": $secondary-dark,
  "background-1": $bg-color-1,
  "background-2": $bg-color-2,
  "background-3": $bg-color-3,
  "text-color-1": $text-color-1,
  "plata": $plata,
  "oro": $oro,
  "platino": $platino
);

// Fusiona los colores personalizados con los colores de Bootstrap
$theme-colors: map-merge($theme-colors, $custom-colors);

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";


//Height    
.h-95{
    height: 95%;
}

.h-70{
    height: 70%;
}

.h-60{
    height: 60%;
}

.h-40{
    height: 40%;
}

.h-20{
    height: 30%;
}

.h-5{
    height: 5%;
}

.vh-100{
    height: 100vh;
}

.vh-70{
   height: 70vh;
}

.vh-50{
    height: 50vh;
}

.vh-30{
    height: 30vh;
}

.vh-10{
    height: 10vh;
}

.m-h-100{
    max-height: 100%;
}

.m-h-60{
    max-height: 60%;
}

//Width
.w-80{
    width: 80%;
}
.w-70{
    width: 70%;
}

.m-w-50{
    max-width: 50%;
}

.m-w-100{
    max-width: 100%;
}


//Colores
.hover-primary-dark:hover{
    background-color: $primary-dark;
    cursor: pointer;
}

.hover-secondary-dark:hover{
    background-color: $secondary-dark;
    cursor: pointer;
}



//Extras
.col-0{
    display: none;
}


.plata{
    background: linear-gradient(145deg, $plata, #e7dcbc, $plata, #e7dcbc);
}

.oro{
    background: linear-gradient(145deg, $oro, #998e52, $oro, #998e52);
}

.platino{
    background: linear-gradient(145deg, $platino, #5f7985, $platino, #5f7985);
}

.dot.active {
    box-shadow: 0 0 5px $primary-darken
}