html, body, main{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-new-born{
    background-image: url("/assets/New_Born/donato-dfae5ee5-1000.jpg");
}

.menu-embarazadas{
    background-image: url("/assets/New_Born/Emilia-14-fcce7d1f-1000.jpg");
}

.menu-primer-anio{
    background-image: url("/assets/New_Born/Rebecca-04-7e6b18f5-1000.jpg");
}

.navegar{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
        cursor: pointer; 
        transform: scale(1.01); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}